.cardProducto {
   width: 20%;
   border: 1px solid #ccc;
   display: flex;
   flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    padding: 2%;
}

.cardProducto img {
   width:60%;
}